name: release

on:
  push:
    tags:
      - "**"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r requirements.txt pyinstaller

      - name: Get repo description
        id: desc
        run: echo "desc=$(curl -fsSL ${{ github.api_url }}/repos/${{ github.repository }} | jq -r .description)" >> $GITHUB_OUTPUT

      - name: Substitute version
        run: sed -i 's/__version__/${{ github.ref_name }}/' vyaml.py

      - name: Build x86_64
        run: pyinstaller -F vyaml.py --hidden-import json --target-architecture x86_64 -n vyaml-amd64

      - name: Build arm64
        run: pyinstaller -F vyaml.py --hidden-import json --target-architecture arm64 -n vyaml-arm64

      - name: Prepare .deb directories
        run: |
          mkdir -p  mkdir -p .debpkg/vyaml-amd64/usr/local/bin
          mkdir -p  mkdir -p .debpkg/vyaml-arm64/usr/local/bin
          cp dist/vyaml-amd64 .debpkg/vyaml-amd64/usr/local/bin/vyaml
          cp dist/vyaml-arm64 .debpkg/vyaml-arm64/usr/local/bin/vyaml
          chmod +x .debpkg/vyaml-amd64/usr/local/bin/vyaml
          chmod +x .debpkg/vyaml-arm64/usr/local/bin/vyaml

      - name: Build amd64 deb
        uses: jiro4989/build-deb-action@v3.0.0
        id: deb_amd64
        with:
          package: vyaml
          version: ${{ github.ref_name }}
          arch: amd64
          maintainer: ${{ github.repository_owner }}
          package_root: .debpkg/vyaml-amd64
          desc: ${{ steps.desc.outputs.desc }}

      - name: Build arm64 deb
        uses: jiro4989/build-deb-action@v3.0.0
        id: deb_arm64
        with:
          package: vyaml
          version: ${{ github.ref_name }}
          arch: arm64
          maintainer: ${{ github.repository_owner }}
          package_root: .debpkg/vyaml-arm64
          desc: ${{ steps.desc.outputs.desc }}

      - name: Relocate deb packages
        run: |
          mv ${{ steps.deb_amd64.outputs.file_name }} dist/vyaml_${{ github.ref_name }}_amd64.deb
          mv ${{ steps.deb_arm64.outputs.file_name }} dist/vyaml_${{ github.ref_name }}_arm64.deb

      - name: Upload release
        uses: softprops/action-gh-release@v1 # this version is not correct in their docs
        with:
          files: |
            dist/vyaml-amd64
            dist/vyaml-arm64
            dist/vyaml-amd64.deb
            dist/vyaml-arm64.deb
          generate_release_notes: true
